---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/global.css';
import Button from '../components/Button.astro';
---
<MainLayout>
  <div class="bg-slider fixed w-full h-full border-0 sm:border-[1.5rem] border-white bg-cover bg-center p-15 font-serif font-[400] text-white">
    <h1 class="text-5xl border-0">GOLDEN MOMENTS</h1>
    <p class="tracking-wide md:tracking-[.5rem] my-4">Aliquam mattis risus a nunc convallis tempor.</p>
    <Button text="ENTER"/>
  </div>
</MainLayout>


<style>
  .bg-slider {
    animation: change-karo-image-ko 24s infinite;
  }

  @keyframes change-karo-image-ko {
    0% {
      background-image: url('/assets/image-1.jpg');
    }
    20% {
      background-image: url('/assets/image-2.jpg');
    }
    40% {
      background-image: url('/assets/image-3.jpg');
    }
    60% {
      background-image: url('/assets/image-4.jpg');
    } 
    80% {
      background-image: url('/assets/image-5.jpg');
    } 
    100% {
      background-image: url('/assets/image-6.jpg');
    } 
  }
</style>
