---
const {text = 'default'} = Astro.props;
---

<button class="bg-[#ffffff79] hover:bg-[#00000079] active:bg-[#00000079] transition-colors delay-75 duration-300 ease-in-out px-5 py-1 tracking-widest cursor-pointer">
  {text}
</button>